<section id="medici-section-color">
	<div class="container">
		<div class="row"><h1 class="static-page-header">Privacy Policy</h1></div>
		<div class="row">
		    <div class="faq-general">
		   
		    	<p>We respect your privacy. Period. We live in your world too and we will never do anything with your information that we would not want to be done with ours. It’s that simple! Of course, there’s a longer version for you to review:</p>
			</div>
		</div>
	</div>
</section>