<p>Hi (<%= @user.name %>),</p>

<p>Your password has been reset and your new password will expire after 90 days.</p>

<p>If you did not make this change, please contact ChronStack Support</p><br>


<p>If you have any issues, questions, or concerns, please contact our support team at support@chronstack.com
Thank you for using ChronStack!</p><br>

<p>ChronStack Support Team</p>
<p>support@chronstack.com</p>
<p>info@resourcestack.com</p>
<p>(571) 223-6741</p><br>
