<div>
	<div class = "row">
    <h1>Users Remaining Vacation Hours</h1>
    <table>
      <tr>
      	<th> Users Email </th>
      	<% @customer_types.each do |ct|%>
        <th> <%= ct.vacation_title %> </th>
        <% end %>
      </tr>
      <% @user_hash.each do |key, value| %>
        <tr>
            <td> <%= key %> </td>
            <% value.each do |x| %>
            <td> <%= x.last %> Hours Available</td>
            <% end %>
        </tr>
        <% end %>
    </table>
	</div>
</div>