
== render 'form'
= link_to 'Set Theme', "/customers/#{params[:customer_id]}/theme", class: "orange-button"
br
= link_to 'Report', "/customers/#{@customer.id}/customer_reports", id: 'show_report', class: 'orange-button'
br
= link_to 'Destroy', @customer, data: {:confirm => 'Are you sure?'}, :method => :delete,  class: 'orange-button'
br
= link_to 'Back to Customer List', customers_path, class: "orange-button"


