Hi <%= @pm.name %>,

<%= "Below is the list of user(s) who did not fill their timesheet last week:" %>
<table style="width:100%">
	<tr>
		<th>Project</th>
    	<th>Week Ending</th> 
 	</tr>
	<% @results.each do|key,array| %>
	<tr>
		<td><%= array.first["project_name"] %></td>
		<td>
		<% array.each do |arr| %>  
	   		<%= arr["user_email"] %> 
   		<% end %> 
   		</td>
   	</tr>
	<% end %> 
</table>
