
.center-row {
	position: relative;
	//margin: 30px !important;
	width: 35%;
}


//for notification icon

.bell {
  display: block;
  height: 20px;
  width: 50px;
}



.notification {
	height: 30px;
}

#show_weekly_reports{
	border: 1px solid black !important;
	width: 100%;
	td{
	width:60px;
	}

}
.week_row{
	background-color:#ffdd9e !important;
}
