// Place all the styles related to the weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
  margin-left: auto;
  margin-right: auto;
}

h1.row{
  text-align:center;
}

.report{
  text-align:center;
}

.sig{
  padding: 50px;
  margin:50px;
}

.check{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.new_user{
  margin: 0 30%;
}

.shared{
  margin-top: 15px;
}

#project{
  margin: 0 33% 20px 33%;
  width: 33%;
}

.field{
  width: 33%;
  margin: auto;
}

h1{
  text-align:center;
}

@media print{
  .report{
    text-align:center !important;
  }
  
  .sig{
    padding: 50px !important;
    margin:50px !important;
  }
}
