<!-- Modal -->
<div id="faqModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="modal-css">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center;">Frequently Asked Questions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
         span aria-hidden="true"> &times;</button>
          
        </div>
      <div class="modal-body" style="overflow-y: scroll;height:400px" >
        <%= @faq.feature_data.html_safe %>
      </div>
      
    </div>

  </div>
</div>

<script type="text/javascript">
  $('p').css("display", "none");
  $('h5').addClass('data_toggle glyphicon glyphicon-plus')
  $('.data_toggle').click(function (argument) {
    $(this).next('p').toggle();
    
  })
</script>
<style>
h5{
  font-size: 17px;
}
p{
   font-style: italic;
   font-size: 12px;
}
</style>