<table>
	<tr>
		<td>
			<%= image_tag "RSILogo.jpg" %>
		</td>
		<td>
		<% if !current_user.nil? %>
			<%= current_user.email %><br/><%= button_to 'Logout', destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to "Sign In", "/users/sign_in" %>
		<% end %>
		</td>
	</tr>
</table>
