<table>
	<tr>
		<td>
			<%= image_tag "RSILogo.jpg" %>
		</td>
		<td>
			<%= current_user.email if !current_user.nil? %><br/><%= link_to "Sign Out", destroy_user_session_path  if !current_user.nil? %>
			<%= sign_in_path if current_user.nil? %>
		</td>
	</tr>
</table>
