<table>
	<tr>
		<td>
			<a href="/"><%= image_tag "RSILogo.jpg" %></a>
		</td>
		<td>
		<% if !current_user.nil? %>
			<%= link_to current_user.email, "/user_profile" %>
		<% else %>
			<%= link_to "Sign In", "/users/sign_in" %>
		<% end %>
		</td>
	</tr>
</table>
